.container {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: #404040;
}

@keyframes pulse {
  from {
    filter: brightness(1);
  }

  to {
    filter: brightness(0.8);
  }
}
