.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volumeContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: unset;
  border: none;
  padding: 0;
  outline: none;
}

.button svg {
  transition: fill 200ms;
}

.button:hover svg {
  fill: #06b6d4;
}

.volumeSlider {
  appearance: none;
  border-radius: 16px;
  background-color: #404040;
  outline: none;
  border: none;
  height: 4px;
}

.volumeSlider::-webkit-slider-thumb, .volumeSlider::-moz-range-thumb {
  cursor: pointer;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #d4d4d4;
  transition: background-color 200ms;
}


.volumeSlider:hover::-webkit-slider-thumb, .volumeSlider:hover::-moz-range-thumb {
  background-color: #06b6d4;
}
