.hiddenBox {
  transform: scaleY(0);
  height: 0;
}

.locationContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 0 64px 0;
}

.locationName {
  color: #d4d4d4;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 64px 0;
}

.boxItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 356px;
}

.boxMetadataContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.boxHeading {
  font-weight: 600;
  font-size: 24px;
  color: #d4d4d4;
  margin: 0 0 4px 0;
}

.boxDescriptionContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.boxDescription {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.boxDescriptionSteam {
  color: #6366f1;
}

.boxDescriptionYouTube {
  color: #ff0033;
}
